body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  color: #eee;
}

/* Title Section */

#title {
  background-image: url(./Images/banner\ 02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Headings */

.main-heading {
  text-align: center;
  padding: 10rem 4rem 15.5rem;
  font-size: 7rem;
  margin-bottom: 0;
}

.main-heading-350px {
  font-size: 6rem;
  display: none;
}

.sub-heading {
  font-family: "Comfortaa", cursive;
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
}

/* Navigation Bar */

.bg-dark {
  opacity: 0.7;
}

.navbar-nav {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
}

/* Quote */
#quote {
  text-align: center;
  padding: 50px;
}

.fa-burger {
  font-size: 2.5rem;
}

/* Gallery */

.gallery-background {
  background: linear-gradient(
    to top,
    rgb(34, 40, 49) 0%,
    rgb(80, 115, 143) 100%
  );
}

#gallery {
  width: 85%;
  margin: 0 auto;
}

.carousel-item {
  height: 40rem;
  background-position: center;
  background-size: cover;
  opacity: 0.95;
}

/* Call to action (CTA)  section  */

#CTA-Section {
  text-align: center;
  font-size: 2.5rem;
  padding-block: 50px;
  width: 75%;
  margin: auto;
}

button {
  all: unset;
  transition: 300ms ease-in;
}

.CTA-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.CTA-btn {
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  border: 2px solid rgba(238, 239, 239, 0.6);
  border-radius: 20px;
  padding: 0 30px;
  background: linear-gradient(
    to top,
    rgb(34, 40, 49) 0%,
    rgb(80, 115, 143) 100%
  );
  transition-duration: 0.25s;
}

.CTA-btn:hover {
  color: rgb(238, 238, 238, 0.5);
}

/* Our Story Section */

#our-story-section {
  background-image: url(./Images/festival\ food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 644px;
}

.our-story {
  width: 50%;
}

.our-story-content {
  min-height: 644px;
  padding: 5rem;
  background-color: rgb(45, 64, 89, 0.5);
}

.story-quote {
  display: block;
  font-size: 30px;
  padding: 3rem 0 1.5rem;
}

/* Location section */

#location {
  background: linear-gradient(to top, #222831 0%, #50738f 100%);

  padding: 5rem 4rem;
}

.location-heading h4 {
  text-align: center;
  padding-top: 48px;
}

.location-heading {
  padding: 3%;
}

.location-item {
  padding: 4%;
}

.location-item h3 {
  color: #ff5722;
}

/* Footer */

#footer-section {
  background-color: #222831;
}

hr {
  margin: 0;
}

footer a {
  text-decoration: inherit;
  color: inherit;
  transition-duration: 0.25s;
  display: block;
  padding: 0 5px;
}

footer a:hover {
  color: rgb(238, 238, 238, 0.5);
}

footer p {
  margin: 5px;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  margin-bottom: 0px;
}

.footer-weblink {
  text-align: center;
  padding-bottom: 15px;
}

.social-box {
  text-align: center;
}

.fa-brands {
  padding: 10px;
  transition-duration: 0.25s;
  cursor: pointer;
}

.fa-brands:hover {
  color: rgb(238, 238, 238, 0.5);
}

/* -------- Media Queries --------- */

@media (max-width: 800px) {
  .main-heading {
    font-size: 4.5rem;
  }
  .our-story {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .main-heading {
    font-size: 3rem;
    padding: 2rem 0 10rem;
  }
}

/* CTA */

@media (max-width: 600px) {
  .CTA-buttons {
    justify-content: center;
  }

  #quote {
    font-size: 1.5rem;
    padding: 15px 50px;
  }
}
